<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.zebardemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<service-->
            <!--android:name=".NotificationsService"-->
            <!--android:exported="false" />-->

        <!--<receiver-->
            <!--android:name=".NotificationsReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; Actions to be handled in the background should be registered here &ndash;&gt;-->
                <!--<action android:name="com.rfidreader.battery.low" />-->
                <!--<action android:name="com.rfidreader.battery.critical" />-->
                <!--<action android:name="com.rfidreader.battery.charging" />-->
                <!--<action android:name="com.rfidreader.disconnected" />-->
                <!--<action android:name="com.rfidreader.connected" />-->
                <!--<action android:name="com.rfidreader.available" />-->
                <!--<action android:name="com.rfidreader.status.received" />-->
                <!--<action android:name="com.rfidreader.conn.failed" />-->
                <!--<action android:name="com.rfidreader.NFC.outofrange" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity android:name=".StartActivity"></activity>
    </application>

</manifest>